logs/
*/target/**
*/bin/**
.metadata/
.recommenders/
.idea/
**/.classpath
.project
**/.project
**/*.iml
.settings/**
*/.settings/**
.idea/**
release.properties
pom.xml.releaseBackup

.mymetadata
.loadpath
*.class
*~
*.lock
*.swp
*.out
*.tmp
*.bak
*~.nib
*.DS_Store
*.log

/target/
